# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Database
*.db
*.db.*
*.sqlite
*.sqlite3

# Uploads
uploads/

# Environment
.env
*.local

# Logs
*.log

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.sw?
.DS_Store

# iOS / Xcode
*.xcuserdata
xcuserdata/
DerivedData/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

*.png
